@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*Paars #5722CD;*/
/*Blauw #4845E4;*/
/*Roze #ED4385;*/
/*Zwart #0C0C0C (voor standaard tekst);*/
/*Lichtpaars #F2F0FF (voor de grote zwevende woorden, zoals "hello" en "services") Uitzonderingen: Lichtgrijs #F3F6F9 (voor de achtergrond van de projecten)*/
/*Grijs #7A7A7A (voor de service-tegel tekst);*/

/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Introduction
        4.3 Footer
    5. Media Queries
////////////////////////*/

/* ------------------------------- 1. Global Styles -------------------------------- */

* {
    box-sizing: border-box;
}


/* ------------------------------- 2. Typography ----------------------------------- */

H {
    font-family: 'Merriweather', serif;
}

p {
    font-family: 'Roboto', 'sans-serif';
}

/* ------------------------------- 3. Layout --------------------------------------- */

/* --------------- 3.1 Reusables ----------------------- */

.innerbox-small {
    flex-direction: column;
    flex-basis: 600px;
    flex-grow: 0;
    display: flex;
    padding: 16px;
    border: blue solid 1px;
}

/* --------------- 3.2 Other --------------------------- */

/* ------------------------------- 4. Areas ---------------------------------------- */

/* --------------- 4.1 Header ------------------------- */

header{
    display: flex;
    flex-direction: column;
    width:100%;
    justify-content: center;
    text-align:center;
}

.navbar ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: space-between;
    gap: 3em;
    border: red solid 2px;
}

.navbar li{
    display: flex;
}

.contactbutton
{
    width: 175px;
    height: 60px;
    background: #ED4385;;
    color: white;
    vertical-align: middle;
    text-align: center;
    line-height: 60px;
    border-radius: 30px;
    text-decoration: none;
    font-size: 15px;
}

.contactbutton:hover
{
    background: grey;
}

/* --------------- 4.2 Introduction ------------------- */

/* --------------- 4.3 Footer ------------------- */

footer
{
    width: 100%;
    margin-top: 10px;
    background-color: #1C2B32;
    color: white;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    font-size: 10px;
    line-height: 40px;
}

/* ------------------------------- 5. Media Queries -------------------------------- */